SECRET=
ENV=production
PORT=3000 

TYPEORM_CONNECTION=postgres 
TYPEORM_HOST=db
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres 
TYPEORM_DATABASE=exclusible
TYPEORM_ENTITIES=./src/modules/**/infra/typeorm/entities/*.ts

TYPEORM_MIGRATIONS=./src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=./src/shared/infra/typeorm/migrations

# Cache
CACHE_DRIVER=redis

# Redis 
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_PASSWORD="redispass"

CMC_PRO_API_KEY=
 